dist/*
target/
src/main/resources/application.conf
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/discord.xml
*.DS_STORE
